<h2>Register</h2>

<% if flash[:errors].present? %>
  <% flash[:errors].each do |error| %>
    <div class="flash-display">
      <%= error %>
    </div>
  <% end %>
<% end %>

<%= render 'shared/users_form', source: :user %>

<br>
<br>

Already registered? <%= button_to 'Log in', new_session_url, method: :get %>
